* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #f3ec78, #af4261);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background-color: rgba(255. 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

label {
    font-size: 1.1rem;
    color: #555;
  }
  
input[type="number"] {
    width: 70%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #af4261;
}

button {
    background-color: #88b495;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #f3ec78;
    color: #333;
}

button:active {
    transform: translateY(2px);
}

.mensagem {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}
